

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #eeeeee;
  ::-webkit-scrollbar{
    width: 6px;
    display: block;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bc8cf2;
    border-radius: 2.3px;
  }

}

.bodyContainer {
  display: flex;
  flex-direction: column;
}

//ChatHeader

.conversationHeader {
  border-bottom: 1px solid gray;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 3rem;
}

.searchBar {
  padding: 10px;
  display: flex;
}

.utils {
  display: flex;
  justify-content: end;
}

//Converation

.converationContainer {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: stretch;
}

.converationData {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.conversationBorder {
  border-bottom: 1px gray solid;
  margin-left: 10px;
}

.conversationDataContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.converationTime {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
}

//MessageList
.messageListContainer {
  max-height: 500px;
  overflow:auto;
  display: flex;
  flex-direction: column;
}

//ToolBar

.toolBarContainer {
  padding: 15px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.toolName {
  margin-top: 5px;
}
