.MenuContainer > * {
    display: flex;
    flex-direction: column;

  }
  :global {
    .ant-layout-sider-trigger {
        background-color: #242625 !important;
      }
    }
  .Spacer {
    flex: 1;
  }


  