.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
:global {
.ant-layout-header {
    background-color: #242625 !important;
}
.ant-layout-footer {
    background-color: #242625 !important;
}
}